* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(43,43,64,1);
  color: white;
  font-family: 'Square Peg', cursive;
  min-height: 100vh;
}

.App {
  background-color: #F28D35;
  margin: 5% 10%;
  font-size: 300%;
  text-align: center;
  border: 5px double white;
  border-radius: 5px;
}

.todo-input {
  width: 60%;
  height: 3em;
  margin-bottom: 3%;
  color: rgba(43,43,64,1);
}
.todo-button{
  height: 3em;
  width: 5%;
}

.todo{
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(43,43,64,1);
}

#todo-buttons{
  padding-right: 2%;
  width: 30%;
}

.todo-btn{
  background-color: #2B2B40;
  color: #F28D35;
  height: 50%;
  width: 30%;
}

.completed{
  text-decoration: line-through;
  opacity: 0.5;
}

.checkbox-btn{

  height: 48%;
  width: 11.5%;
  position: relative;
  top: 0.8em;
  
}

.todo:hover{
  background-color: #a55f21;
}


